*{
    box-sizing: border-box;
}

h1, h3, h4, p {
    margin: 0px;
    padding: 0.5em;
}

.verde {
    color: #0c9b3b;
}

.container {
    font-family: "Arial", cursive;
    width: 90%;
    margin: 20px auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_item {
    padding: 0.5em;
    display: none;
}

main {
    background-color: #666666;
    display: flex;
    flex-wrap: wrap;    
}

main section {
    width: 100%;
}