* {
  box-sizing: border-box;
}

h1,
h4,
p {
  margin: 0px;
}

body {
  background-color: whitesmoke;
}
.container {
  background-color: whitesmoke;
  color: #666666;
  font-family: "Lobster", cursive;
  margin: 20px auto;
  width: 90%;
}

/* El contenedor flex para la primera fila de contenido */
.content_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
  justify-content: space-between;/*coloca el nav totalmente a la izqda*/

}

header {
  text-align: center;
  border-bottom: 1px solid #666666;
  padding: 1em;
  margin-bottom: 1em;;
}

/* El menú */
nav {
 width: 10%;
 padding: 1em; 
}

nav div {
  margin-bottom: 20px;
}

/* El elemento principal */
main {
  border: 1px solid #666666;
  border-radius: 1em;
  height: 400px;
  padding: 1em;
  text-align: center;
  width: 54%;
}

main img {
  border-radius: 1em;
  height: 70%;
  width: 70%;
}

.content_wrapper article:nth-of-type(1) {
 /*el primero de los articulos*/
 height: 400px;
}

/* Artículo. Imágenes pequeñas */
article {
 border: 1px solid #666666;
 border-radius: 1em;
 height: 300px;
 padding: 1em;
 text-align: center;
 width: 32%;
}

.articles {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}

article img {
  border-radius: 1em;
  width: 70%;
  height: 70%;
}

/* Pie de la página */
/* Pie de la página */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  padding: 2em;
  border-top: 1px solid #666666;
}

footer img {
  width: 50px;
}
