*{
    box-sizing: border-box;   
}

@font-face {
    font-family: 'Giaza';
    src: url('Giaza.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
  }

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;    
}

header{
    width: 100%;
    background-color: #F6BCD5;
    color: whitesmoke;
    font-family: Giaza;
    display: flex;
    justify-content: space-around;   
}

header h3 {
    border-radius: 25px;
    background-color: #311526;
    font-size: 1.5em;
    width: auto;
    padding: 10px;
}

header img {
    width: 300px;
}

.stick {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 100;
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #D4007F;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;    
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

nav a:hover{
    background-color: #F6BCD5;
    color: black;
    border-radius: 25px;  
}

.cuerpoPrincipal {       
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Verdana, sans-serif;
}

h1 img {
    width: 20px;
}
h1 {
    margin-left: 25px;
}

section{
    width: 65%;
}

article {
    background-color: #ffeeff;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    text-align: justify;
}

article:nth-of-type(3) img{
    width: 400px;
    border-radius: 25px;
    margin-left: 30%;
}

article h4{
    color: #D4007F;
    font-size: 1.5em;
}

span{
    color:#D4007F;
}

.iconos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.iconos img {
    width: 15%;
}

aside{
    width: 30%;
    background-color: #F6BCD5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

aside img {
    width: auto;
    border-radius: 25px;
}

aside p {
    color: white;
    font-size: 3em;
    margin: 150px;
    font-family: Giaza;
    background-color: #311526;
    border-radius: 25px;
    padding: 5px;
    
}

footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #D4007F;
    justify-content: space-between;
    align-items: center;
    height: 50px;    
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

footer div {
    margin: 10px;
}

footer a:hover{
    background-color: #F6BCD5;
    color: black;
    border-radius: 25px;
}

footer img {
    border-radius: 25px;
}

/*AQUÍ COMIENZA EL CSS QUE ES EXCLUSIVO DE LA PÁGINA CATALOGO.HTML*/

h1 {
    font-family: Giaza;
    color: #311526;
    font-size: 2.5em;
    margin-left: 40%;
}

.productos {
    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: repeat(100px 3);
    grid-row-gap: 1em;
    width: 90%;
    margin: 5px auto;
    align-items: center;
}