* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 200px 300px 200px ;
    grid-template-columns: repeat(100px 4);
    grid-row-gap: 1em;
    width: 90%;
    margin: 10px auto;
    align-items: center;
}

header {
    background-color: #3d3a38;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: 1em;
    color: white;
    font-size: 1.5em;
}

header img {
    width: 80px;
    margin: 10px;
}

.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    float: left;
    align-items: center;
}

.logo h3 {
    float: right;
}

nav{
   grid-column: 2/5;
   grid-row: 1/2;
   float: right;
   margin-top: 25px;
}

nav a{
    padding: 15px;
    color: white;   
    background-color:#C70039;
}

.cuerpo {
    grid-column: 1 / 4;
    grid-row: 2 / 5;
    
}

.articles{
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    width: 65%;
    float: left;
    
}

.uno {
    border-bottom: 1px solid #3d3a38;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.dos {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin-top: 50px;
}

aside {
    background-color: orange;
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    width: 30%;
    float: right;
    height: 600px;
    justify-content: center;
}/*
aside div {
    background-color: blue;
        
}*/

aside img {
    width: 80%;
    height: 200px;
    margin: 2.5em auto;
}

.footer{
    width: 100%;
    height: 100px;
    margin-top: 5px;
    display: flex;
    background-color: #3d3a38;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}

.footer a{
    color: white;
    margin-left: 15px;
}

.footer img {
    width: 25px;
    border-radius: 1em;
}

.footer .imagenes{
    margin-right: 50px;
}