*{
    box-sizing: border-box;

}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #3d3a38;
    align-items: center;     
}

header div, h3 {    
    color: white;
}

h3 {
    font-size: 1.5em;
}

.logo {
    display: flex;
    margin-left: 10px;
    align-items: center;  
}

.logo img {
    width: 80px;
    border-radius: 1em;
    margin: 10px;
}

nav{
    width: 50%;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-right: 25px;
}

nav a{
    padding: 25px;
    color: white;   
    background-color:#C70039;
}

.cuerpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articulos{
    width: 65%;
}

.articulos article{
    margin: 50px;    
}

.articulos article:nth-of-type(1){
    border-bottom: 1px solid #3d3a38;
}

aside{
    background-color: orange;
    width: 30%;
    height: 500px;
}

aside div {
    display: flex;
    margin: 25px auto;
    width: 70%;
    height: 200px;
    background-color: blue;
    
}

 .divas img {
    width: 60%;
    margin-left: 70px;
    margin-top: 5px;
}

.footer{
    width: 100%;
    height: 100px;
    margin-top: 5px;
    display: flex;
    background-color: #3d3a38;
    justify-content: space-between;
    align-items: center;
}

.footer a{
    color: white;
    margin-left: 15px;
}

.footer img {
    width: 25px;
    border-radius: 1em;
}

.footer .imagenes{
    margin-right: 50px;
}