* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

/*DISPOSITIVOS PEQUEÑOS*/

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFC300;
    justify-content: center;
    width: 80%;
    margin: 0.25em auto;
}

article {    
    width: 80%;
    border: 1px solid #3393FF;
    margin: 20px auto;
}

h1, h3, h4{
    color: #3393FF;
    text-align: center;
}

h1 {    
    font-size: 10vw;/*texto responsive*/
}

.cabeceraArt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cabeceraArt h3 {
    width: 60%;
}

article p {
    text-align: justify;
    width: 80%;
    margin: 10px auto;
    color: #3393FF;
    font-style: bolder;    
}
/*
article.oso {
    display: none;
}*/

.cabeceraArt img {
    width: 65%;
}


/*DISPOSITIVOS MÓVILES Y TABLETS*/

@media screen and (min-width: 576px) and (max-width: 992px){

    article.oso {
        display: block;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        background-color: #25A1B2;
        justify-content: center;
        width: 80%;
        margin: 0.25em auto;        
    }

    article {
        border: 1px solid white;
    }

    article p {
        color: white;
    }

    h1, h3, h4{
        color: white;
        text-align: center;
    }

    h1 {    
        font-size: 10vw;/*texto responsive*/
    }

    h3, h4 {    
        font-size: 3vw;/*texto responsive*/
    }

    h1 {
        width: 90%;
    }

    .gallo {
        width: 45%;
    }
    
    .corzo{
        width: 45%;
    }

    .corzo img {
        width: 85%;
    }

    .oso{
        width: 90%;
    }

    .oso p {
        width: 80%;
    }

    .oso img {
        width: 65%;
    }
    
    p {
        font-size: 2vh;
    }
}


/*DISPOSITIVOS GRANDES*/

@media screen and (min-width: 992px){
   
    .container {
        display: flex;
        flex-wrap: wrap;
        background-color: #2A9923; 
        justify-content: center;
        width: 90%;
        margin: 0.25em auto;        
    }

    article {
        width: 30%;
        border: 1px solid black;
        padding: 0.5em;
        margin: 0.5em;
    }

    article p {
        text-align: justify;
        width: 80%;
        margin: 10px auto;
        color: black;
        font-style: bolder;
    }

    h1 {
        width: 70%;
    }

    h1 {    
        font-size: 5vw;/*texto responsive*/
    }

    h3{    
        font-size: 2.5vw;/*texto responsive*/
    }

    h4{
        font-size: 2vh;
    }

    p {
        font-size: 2vh;
    }

    h1, h3, h4{
        color: black;
        text-align: center;
    }
}